body {
    text-align: center;
}

div.welcome{
    margin: 0 auto;
    font-family: futura;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
    display:inline-block;
    margin-top:3px;
    margin-bottom:3px;
}
.scoreTxt{
    display: inline-block;
    font-size:32px;
    color:#c4357c;
}